<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment Form</title>
</head>
<body>
    <h2>Edit the Comment below</h2>

    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
        <textarea name="comment" id="" cols="30" rows="5" placeholder="Type the edited comment."><%= comment.comment %></textarea>
        <button type="submit">Update</button>
    </form>
</body>
</html>
